@layouts.app('title', 'Home')

 <div class="timeline">
  
   @component('components/header')
   @endcomponent
   @component('components/tweetEditor')
   @endcomponent

   @each(tweet in tweets)
      @component('components/tweet', {...tweet})
      @endcomponent
   @end

  @if (auth.user)

  logged in as {{ auth.user.email }}

  @else 

  <a href="/register">Register</a>

  @endif
 </div>
@end
